* {
   margin:0;
   padding:0;
   box-sizing: border-box;
}
:root {
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}
body{
   background-color:var(--Pale-blue);
   font-family:"Red Hat Display";
   background-image:url(../pattern-background-mobile.png);
   background-repeat: no-repeat;
   background-size:100%;
   height:100svh;
}
.container{
   display:flex;
   justify-content:center;
   align-items:center;
   height:725px;
}
.card{
   max-width:375px;
   width:85%;
   height:auto;
   background-color:white;
   border-radius:1rem;
   box-shadow:10px 10px 20px hsl(245, 75%, 52%,0.1), 15px 15px 30px hsl(245,75%,52%,0.1);
}
.title{
   color:var(--Dark-blue);
   font-weight:900;
   font-size:1.3rem;
   padding-top:20px;
}
.des {
   padding-top:10px;
   font-size:0.92rem;
   line-height:1.70;
   color:var(--Desaturated-blue);
}
.card-body{
   display:flex;
   flex-direction: column;
   justify-content:center;
   align-items:center;
   text-align:center;
   
}

.card-top img {
   width:100%;
   height:auto;
   border-top-left-radius:1rem;
   border-top-right-radius: 1rem;
   
   
}
.plan-bg {
   background-color:var(--Very-pale-blue);
   display:flex;
   flex-direction:row;
   justify-content:space-between;
   align-items:center;
   padding:0.8rem;
   border-radius:0.4rem;
   margin-top:20px;
   width:77%;
}
.annual-price{
   text-align:start;
   padding-right:32px;
}
.plan-text{
   color:var(--Dark-blue);
   font-size:0.87rem;
   padding-bottom:2px;
}
.price{
   color:var(--Desaturated-blue);
   font-size:0.9rem;
}
.plan-bg img{
   width:48px;
   height:auto;
}
a{
   color:var(--Bright-blue);
   font-weight:700;
   font-size:0.8rem;
}
a:hover {
   text-decoration: none;
   opacity:0.75;
}
.btn-primary{
   
   display:flex;
   flex-direction: column;
   justify-content: center;
   padding-top:9.5px;
   padding-bottom:15px;
}
.btn-1border{
   display:flex;
   justify-content: center ;
   align-items:center;
   margin-top:15px;
   border:2px var(--Bright-blue) solid;
   border-radius:0.6rem;
   background-color:var(--Bright-blue);
   width:275px;
   max-width:300px;
   height:6.3vh;
   cursor:pointer;
   box-shadow:10px 10px 20px hsl(245, 75%, 52%,0.15), 15px 15px 30px hsl(245,75%,52%,0.15);
}
.btn-1border:hover{
   opacity:0.7;
}
.btn-first{
   color:white;
   font-weight:700;
   border:none;
   outline:none; 
   background: transparent ;
   font-size:0.9rem;
   font-family:"Red Hat Display";
}
.btn-secondary{
   color:var(--Desaturated-blue);
   font-size:0.95rem;
   margin-top:25px;
   font-weight:700;
   border:none;
   outline:none;
   background: transparent ;
   font-family:"Red Hat Display";
}
.btn-secondary:hover{
   color:var(--Dark-blue);
}
@media screen and (min-width: 768px) {
   body {
   background-image: url(../pattern-background-desktop.png);
   background-size:100%;
   height:100svh;
   }
   .container{
      
      height:1500px;
   } 
   
  .card {
   width: 45%; 
   max-width: 1440px;
   height:auto;
   max-height:1440px;
   margin: 50px auto; 
    }
   .title{
    font-size:1.5rem;
    padding-top:40px;
       
    }
   .annual-price{
    text-align:start;
    padding-right:72px;
}
   .plan-bg{
    padding:1rem;
    width:65%;
   }
  .plan-bg img{
   width:42px;
   height:auto;
}
   .btn-1border {
    width:320px; 
    max-width: 400px; 
    height:45px;
    max-height:400px;
    }
}
    
@media screen and (min-width: 768px) and (orientation: landscape) {
   body {
   background-image: url(../pattern-background-desktop.png);
    }
   .card {
   width: 45%;  
   max-width: 1440px;  
   height: auto;
   max-height:1440px;
  margin: 50px auto; 
    }
   .title{
   font-size:1.5rem;   
   padding-top:40px;
       
    }
   .annual-price{
   text-align:start;
   padding-right:72px;
}
  .plan-bg{
   padding:1rem;
   width:65%;
   }
  .plan-bg img{
   width:42px;
   height:auto;
}
   .btn-1border {
    width:320px; 
    max-width: 400px; 
    height:45px;
    max-height:400px;
    }
}




